<head> 
<link rel="stylesheet" type="text/css" href="cssStyle.css">
</head>

tr /* Top row */ 
{
color: DarkSlateGray; 
text-align:center; 
font-size: 20pt; 
}

tr2 /* Regular rows */  
{
color: DimGray; 
text-align: center; 
font: 17pt; 
}

a /* First column */ 
{
font: 17pt; 
}

